 .add-to-cart-btn{
    padding: 10px 20px!important;
    margin-top: 30px!important;
    background-color:  #ffe115!important;
    color:#2d3a4b!important;
    border-radius: 0px!important;
    cursor: pointer!important;
    border: none!important;
    transition: all 0.3s ease-in!important;
    font-family: Poppins!important;
    width: 100%;
}
.add-to-cart-btn:hover {
    background-color:#2d3a4b!important;
    color: #ffe115!important;  
}
 .about-us-con h3 {
    margin-bottom: 20px;
} 
p {
    font-weight: 400;
    color: #6f6f6f;
    line-height: 26px;
    text-rendering: optimizeLegibility;
}

.about-us-con h6 {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}
.about-us-con h6::before {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    left: -50px;
    top: 10px;
    background: #2d3a4b;
} 
.about-us-con h6 span {
    height: 2px;
    width: 60px;
    background: #2d3a4b;
    border: none;
    display: inline-block;
    margin: 0px 10px;
}

.tabcolor{
   color: #2d3a4b!important;
   background-color: #ffe115!important;
}
.darkcolor{
  color: #ffe115!important;
  background-color: #2d3a4b!important;
}
.aligntext-center
{ text-align: center!important;}
 
.heading {
    font-weight: 500;
    color: #2d3a4b;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 10px;
}

.plain-text {
    display: inline-block;
    max-width: 800px;
    font-size: 16px!important;
    line-height: 24px;
    color: #666666;
    font-style: italic;
    font-family: 'Merriweather', serif;
}

 .card-image-100 {
height: 100%!important;
width: 100%!important;
object-fit: cover!important;
}
.image-50
{
width:50px;
height:50px;
}
.zoom-card-image {
    transition: transform 0.3s ease-in-out;
  }
  
  .zoom-card-image:hover {
    transform: scale(1.1) translate(5px, -5px);
  }
  .my-spinner {
    margin: auto!important;
    text-align: center!important;
}

.order-info {
    list-style: none;
    display: flex; 
    gap: 80px; 
  }
  
  .order-info li {
    display: flex;
    flex-direction: column; 
    text-align: center;
  }
  
  .order-info img {
    max-width: 100%;
    height: auto;
  }
  
  .order-info h5 {
    margin: 5px 0; 
  }
  @media (max-width: 768px) {
    .order-info {
      flex-direction: column; 
      gap:50px;
    }
  }
  .about-us-img{
    width: 100%;
    object-fit: cover!important;
  }
  .shipment{
   margin-top: 30px;
   margin-right:-90px;
  } 
